div {
  margin: 3rem;
  padding: 3rem;
  color: white;
  border-radius: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: rgb(251,176,64);
  background: linear-gradient(135deg, rgba(251,176,64,1) 20%, rgba(239,65,54,1) 100%)
}
