<div>
  <form (ngSubmit)="addComment()">
    <label for="user-name">Name: </label>
    <input type="text" name="user-name" [(ngModel)] = "myComment.name">

    <label for="user-mail">Email: </label>
    <input type="email" name="user-mail" [(ngModel)] = "myComment.email">

    <label for="comment-body">comment: </label>
    <input type="text" name="comment-body" [(ngModel)] = "myComment.body">
    <button type="submit">Add your Comment</button>
  </form>
</div>

<div class="all-comments" *ngFor="let aComment of comments">
  <div class="comment">
    <h4>{{ aComment.name }}</h4>
    <p>{{ aComment.body }}</p>
  </div>
</div>
